#name {
  font-size: 8em;
  color: #ffffff;
  font-family: Arial, sans-serif;
  width: 100%;
  text-align: center;
}

#header {
  border-bottom: 15px #000000 solid;
  padding-bottom: 0px;
  margin-bottom: 5px;
  background-color: gray;
}

#profile {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#footer {
  width: 100%;
  background-color: gray;
  color: #ffffff;
  border-top: 15px #000000 solid;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 1150px) {

  #profile {
    display: none;
  }

  #name {
    font-size: 7em;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-2 {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  #name {
    font-size: 4em;
  }

@media only screen and (max-width: 600px) {
  #name {
    font-size: 3em;
  }
